[Unit]
Description=TON miner
After=network.target 

[Service]
RestartSec=30
Restart=always
WorkingDirectory=/home/user
ExecStart=/home/user/danila-miner run https://ton-pool-server-p3agi.ondigitalocean.app EQC-cr_jZQCJBTjwbgr_0YQ3MoIB6oCqlZIrkiV9r9RKhfFH

[Install]
WantedBy=multi-user.target
Alias=miner.service
